.cart {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.cart__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 80%;
}

.list-div {
    margin-top: 1rem;
    overflow-y: auto;
    scrollbar-width: thin;
    height: 100vh;
}

.list {
    border-radius: 10px;
    border: 0.1rem solid var(--alpha);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.list__item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.list__item--image {
    display: flex;
    justify-content: center;
    width: 25%;
    margin-right: 0.5rem;
}

.list__image {
    border: 0.1rem solid var(--alpha);
    width: auto;
}

.list__buttons {
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    color: var(--black);
}

.list__buttons--button {
    border: 0.1rem solid var(--alpha);
    border-radius: 3px;
    background: var(--bisque);
    width: 1.5rem;
    height: auto;
    font-weight: bold;
}

.list__buttons--button:hover {
    background: var(--isabelline);
}

.list__buttons--count {
    padding-left: 1rem;
    padding-right: 1rem;
}

.list__description {
    width: 50%;
    color: var(--black);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.list__description--size {
    font-size: 0.8rem;
}

.list__description--value {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: var(--black);
    font-size: 0.9rem;
}

.list__description--installment {
    font-size: 0.8rem;
    color: var(--alpha);
}

.list__button--remove {
    color: var(--black);
    border: 0.1rem solid var(--alpha);
    border-radius: 3px;
    background: var(--bisque);
    font-size: 0.8rem;
    padding: 0.2rem 0.2rem;
    width: 30%;
    margin-top: 0.6rem;
}

.list__button--remove:hover {
    background: var(--isabelline);
}

.cart__subtotal {
    color: var(--black);
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    margin-bottom: 2rem;
}

.list--not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.list--not-found-icon {
    width: 3rem;
    height: auto;
}

.list--not-found-paragraph {
    padding-top: 1rem;
    font-size: 1.2rem;
}