.counter {
    background: var(--flame);
    color: var(--white);
    height: auto;
    width: 1.5rem;
    overflow: hidden;
    position: absolute;
    right: -.7rem;
    top: 0;
    border-radius: 50%;
    line-height: 1.5rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}
