.search {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.search__form {
    background: var(--white);
    border: 0.3rem double var(--alpha);
    border-radius: 8px;
    display: inline-block;
    padding: 0.2rem 1.2rem;
    width: 100%;
}

.search__input {
    background: var(--white);
    border: 0;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
}

.search__input::placeholder {
    color: var(--dark-grey); 
}

.list-div {
    margin-top: 1rem;
    overflow-y: auto;
    scrollbar-width: thin;
    height: 100vh;
}

.search__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 75%;
}

.list {
    border-radius: 10px;
    border: 0.1rem solid var(--alpha);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 1rem;
}

.list__item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.list__item--image {
    display: flex;
    justify-content: center;
    width: 5rem;
    height: auto;
    margin-right: 0.5rem;
}

.list__image {
    border: 0.1rem solid var(--alpha);
    width: 100%;
    height: auto;
}

.list__description--installment {
    font-size: 0.8rem;
    color: var(--alpha);
}

.list--not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    text-align: center;
}

.list--not-found-icon {
    width: 3rem;
    height: auto;
    padding-bottom: 1rem;
}

.list--not-found-paragraph {
    padding-top: 1rem;
    font-size: 1rem;
}